@using BuisnessLogicLayer.Services
@inject IShelfService _shelfService
@inject ICategoryService _categoryService
<!DOCTYPE html>


<html lang="en" class="light-style layout-wide  customizer-hide" dir="ltr" data-theme="theme-default" data-assets-path="../assets/" data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] -TPS Library</title>
    <!-- Canonical SEO -->
    <link rel="canonical" href="https://themeselection.com/item/materio-bootstrap-html-admin-template/">

    <!-- ? PROD Only: Google Tag Manager (Default ThemeSelection: GTM-5DDHKGP, PixInvent: GTM-5J3LMKC) -->
    <script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-5DDHKGP"></script>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5DDHKGP');</script>
    <!-- End Google Tag Manager -->

   
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&amp;ampdisplay=swap" rel="stylesheet">
    <!-- Icons -->
    <link rel="stylesheet" href="~/assets/vendor/fonts/remixicon/remixicon.css" />
    <link rel="stylesheet" href="~/assets/vendor/fonts/boxicons.css" />
    <link rel="stylesheet" href="~/assets/vendor/fonts/fontawesome.css" />
    <link rel="stylesheet" href="~/assets/vendor/fonts/flag-icons.css" />


   

    @*<link rel="stylesheet" href="~/assets/vendor/fonts/materialdesignicons.css">
    *@
    <!-- Menu waves for no-customizer fix -->
    <link rel="stylesheet" href="~/assets/vendor/libs/node-waves/node-waves.css">

   
    <!-- Core CSS -->
    <link rel="stylesheet" href="~/assets/vendor/css/core.css" class="template-customizer-core-css">
    <link rel="stylesheet" href="~/assets/vendor/css/theme-default.css" class="template-customizer-theme-css">
    <link rel="stylesheet" href="~/assets/css/demo.css">
    @*<link rel="stylesheet" href="~/assets/css/main.css">
    *@
    <!-- Vendors CSS -->
    <link rel="stylesheet" href="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/typeahead-js/typeahead.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css">
    <link rel="stylesheet" href="~/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css">
    <link rel="stylesheet" href="~/assets/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css">
    <link rel="stylesheet" href="~/assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css">
    <link rel="stylesheet" href="~/assets/vendor/libs/flatpickr/flatpickr.css" />

    <!-- Row Group CSS -->
    <link rel="stylesheet" href="~/assets/vendor/libs/datatables-rowgroup-bs5/rowgroup.bootstrap5.css">
    <!-- Form Validation -->
    <link rel="stylesheet" href="~/assets/vendor/libs/form-validation/form-validation.css" />

    <!-- Page CSS -->
    <!-- Page -->
    <link rel="stylesheet" href="~/assets/vendor/css/pages/page-auth.css">
    
    <!-- Helpers -->
    <script src="~/assets/vendor/js/helpers.js"></script>
    <style type="text/css">
        .layout-menu-fixed .layout-navbar-full .layout-menu,
        .layout-page {
            padding-top: 0px !important;
        }

        .content-wrapper {
            padding-bottom: 0px !important;
        }</style>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <script src="~/assets/vendor/js/template-customizer.js"></script>
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="~/assets/js/config.js"></script>

   @*  <script type="text/javascript" src="https://a.omappapi.com/app/js/api.min.js" async="" data-user="252882" data-account="269977"></script>
    <link rel="stylesheet" href="https://a.omappapi.com/app/js/api.min.css" id="omapi-css" media="all"> *@
</head>

<body>


    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5DDHKGP" height="0" width="0" style="display: none; visibility: hidden"></iframe></noscript>

  

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow">
            <div class="container-fluid">

                <span>
                    <img src="\Images\TechProcessSolutions-logo.png" alt="logo" style="width:100px; heght:50px;" />
                </span>
               
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="navbar-brand text-white mx-1" id="x"> Welcome @User.Identity.Name</a>
                }
                else
                {
                    <a class="navbar-brand text-white mx-1"> TPS Library</a>

                }
                <script>
                    var userEmail = @User.Identity.Name;

                    var username = userEmail.split('@@')[0];

        
                    var nameElement = document.getElementById('x');
                    nameElement.innerHTML = 'Welcome ' + username;
                </script>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                     @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="navbar-nav flex-grow-1 justify-content-end ">

                            @if (User.IsInRole("admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Shelf" asp-action="Index">Shelves</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Category" asp-action="Index">Categories</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Welcome">Home</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown">
                                        Shelves
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                        @foreach (var shelf in _shelfService.Shelfs)
                                        {
                                            <li><a class="dropdown-item" asp-controller="Book" asp-action="ShowBooks" asp-route-id="@shelf.Id">@shelf.ShelfName</a></li>
                                        }
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown">
                                        Categories
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                        @foreach (var category in _categoryService.Categories)
                                        {
                                            <li><a class="dropdown-item" asp-controller="Book" asp-action="ShowBooksInCategory" asp-route-id="@category.Id">@category.CategoryName</a></li>
                                        }
                                    </ul>
                                </li>
                            }


                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Logout">Log out</a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="navbar-nav flex-grow-1 justify-content-end ">

                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Login">Log in</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                        </ul>
                    }




                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

 



    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="~/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="~/assets/vendor/libs/popper/popper.js"></script>
    <script src="~/assets/vendor/js/bootstrap.js"></script>
    <script src="~/assets/vendor/libs/node-waves/node-waves.js"></script>
    <script src="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/assets/vendor/libs/hammer/hammer.js"></script>
    <script src="~/assets/vendor/libs/i18n/i18n.js"></script>
    <script src="~/assets/vendor/libs/typeahead-js/typeahead.js"></script>
    <script src="~/assets/vendor/js/menu.js"></script>



    <!-- endbuild -->
    <!-- Vendors JS -->
    <script src="~/assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
    <!-- Flat Picker -->
    <script src="~/assets/vendor/libs/moment/moment.js"></script>
    <script src="~/assets/vendor/libs/flatpickr/flatpickr.js"></script>
    <!-- Form Validation -->
    <script src="~/assets/vendor/libs/form-validation/popular.js"></script>
    <script src="~/assets/vendor/libs/form-validation/bootstrap5.js"></script>
    <script src="~/assets/vendor/libs/form-validation/auto-focus.js"></script>

    <!-- Main JS -->
    <script src="~/assets/js/main.js"></script>


    <!-- Page JS -->
    <script src="~/assets/js/tables-datatables-basic.js"></script>

  
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>